body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    margin: 0;

}

/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0px auto;
}


.main-content{
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 100px 90px;

}

/* about styles*/

.about{
    margin-bottom: 40px;
}

.about_position{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;

}

.about_description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 100%;
}

.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project_list{
    padding: 0;
    margin-left: 15px;
}

.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link{
    margin-left: 10px;
}

.project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.work{
    margin-bottom: 43px;
}

.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FB6D3A;
    margin-top: 0px;
    margin-bottom: 12px;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
    
}

.period:last-child{
    margin-top: 0px;
}

.line{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.work_list{
    padding: 0;
    margin-left: 15px;
}

.work_list_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    color: #000000;
}

.education_title{
    margin-top: 17.74px;
    margin-bottom: 22px;
}

.position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 12px;
}

.position_info{
    color: #A8A8A8;
    font-size: 11px;
}

.education_block{
    margin-bottom: 25px;
}

.education_work{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 12px;
}

.language{
    margin-top: 40px;
}

.language_title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 22px;
}

.language_list{
    padding: 0;
    margin-left: 17px;
}

.language_list_item{
    color: #fb6d3a;
}

.language_text{
    color: #605f5f;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

/* sidebar styles */

.sidebar{
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

.photo{
    width: 345px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 60%;
}

.contacts, .tech_skills{
    margin-left: 40px;
}

.tech_skills{
    margin-bottom: 44px;
}

.contacts{
    margin-bottom: 40px;
}

.sidebar_title{
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    margin-top: 0;
}

.contact_type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.contact_block{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 300px;
}

.logo_tg{
    cursor: pointer;
    width: 45px;
    height: 45px;
    /* margin-left: 45px; */
}

.logo_inst{
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.logo_git{
    cursor: pointer;    
    width: 50px;
    height: 50px;
    margin-right: 45px;
}

.contact_link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #e1e1e1;
}

.tech_skills_list{
    color: #fff;
    padding: 0;
    margin-left: 17px;
}

.tech_skills_item{
    color: #fb6d3a;
}

.tech_skills_text{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills{
    margin-left: 40px;
}

.soft_skills_list{
    color: #fff;
    padding: 0;
    margin-left: 17px;
}

.soft_skills_item{
    color: #fb6d3a;
}

.soft_skills_text{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
